*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    margin-left: auto; 
    margin-right: auto; 
}

.center {
    text-align: center;
    margin-top: 40px;
}

.required {
    font-style: normal;
}

.required:before {
    content: " ";
}

.copyrightSection {
    background-color: #333;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
}
